a{
    text-decoration: none;
}
h4{
    margin-top:0.8rem;
}
i{
    cursor: pointer;
}
.topicCard{
    box-shadow:5px 5px lightgrey;
}
.topic{
    display:flex
}
.edit{
    display: flex;
    justify-content: flex-end;
}

.fa-trash-alt:hover{
    color:red;
}
.far{
    color: black;
    font-size: 0.8rem;
}
.btn{
    padding-top: 2px;
    margin-right: -16px;
}
.exam{
    text-align: right;
}
.exam:hover{
    color:red !important;
    font-weight: 500;
}